*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
/* HEADER */
header{
    background-color: rgba(44,62,80,255);
}
.fontsize-12{
    font-size: 12px;
    padding-top: 4px ;
}




/* MAIN */
/* START BOOTSTRAP */
.bg-start{
    background-color:rgba(26,188,156,255);
}




.stella {
    margin: 100px auto;
    text-align: center;
    font-size: 40px;
    max-width: 600px;
    position: relative;
  }
.stella:before {
    display: block;
    width: 150px;
    height: 5px;
    background: #ffffff;
    left: 85px;
    top: 50%;
    position: absolute;
  }
.stella:after {
    content: "";
    display: block;
    width: 150px;
    height: 5px;
    background: #ffffff;
    right: 85px;
    top: 50%;
    position: absolute;
  }
/* PORTFOLIO */
.color-title{
    color: rgba(44,62,80,255);
}

/* ABOUT */

.downlod-black:hover{
    color: black;
}

/* CONTACT ME */
.input-border{
    width: 100%;
    background-color: white;
    border: none;
    border-bottom: 1px solid lightgray;
    border-radius: 0px;
}
.button-color{
    background-color: rgba(26,188,156,255);
    color: white;
}

/* FOOTER */
/* LOCATION / AROUND THE WEB / ABOUT FREELANCER */
.bg-location{
    background-color: rgba(58,84,109,255);
}
.bordi-icone{
    border: 1px solid white;
    border-radius: 50%;
    padding: 14px 15px;
}
.bordo-facebook{
    border: 1px solid white;
    border-radius: 50%;
    padding: 12px 15px;

}
.text-color{
    color: rgba(26,188,156,255);
}
.fontsize-14{
    font-size: 15px;
}
/* COPYRIGHT */
.bg-copyright{
    background-color: rgba(44,62,80,255);
}
