*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER */
.height-40{
    height: 40px;
}
.row{
    height: 100%;
}
.content{
    height: 100%;
}
.bgcolor-red{
    background-color: red;
}
.bgcolor-green{
    background-color: green;
}

/* MAIN */
/* START BOOTSTRAP */
.height-300{
    height: 300px;
}
.bgcolor-aqua{
    background-color: aqua;
   
}
/* PORTFOLIO */
.height-1200{
    height: 1200px;
}
.bgcolor-brown{
    background-color: brown;
}
.bgcolor-yellow{
    background-color: yellow;
}
.bgcolor-orange{
    background-color: orange;
}
.bgcolor-black{
    background-color: black;
}
.bgcolor-blue{
    background-color: blue;
}
.bgcolor-grey{
    background-color: grey;
}
.bgcolor-lime{
    background-color: lime;
}

/* ABOUT */
.height-450{
    height: 450px;
    background-color: purple;
}
.bgcolor-coral{
    background-color: coral;
}
.bgcolor-pink{
    background-color: pink;
}
.bgcolor-navy{
    background-color: navy;
}
.bgcolor-olive{
    background-color: olive;
}
/* CONTACT ME */
.height-400{
    height: 400px;
}
.bgcolor-magenta{
    background-color: magenta;
}
.bgcolor-gold{
    background-color: gold;
}
.bgcolor-cyan{
    background-color: cyan;
}
/* LOCATION / AROUND THE WEB / ABOUT FREELANCER */
.height-300{
    height: 300px;
    background-color: lightgray;
}
.bgcolor-crimson{
    background-color: crimson;
}
.bgcolor-darkblue{
    background-color: darkblue;
}
.bgcolor-deeppink{
    background-color: deeppink;
}
/* COPYRIGHT */
.height-100{
    height: 100px;
    background-color: rgb(133, 129, 129);
}
.bgcolor-lightblue{
    background-color: lightblue;
}